<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= devise_error_messages! %>

<!-- same for both files -->

<div class="form-group">
  <%= f.text_field :name, placeholder: "Your Name", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.text_field :username, placeholder: "Choose a @username", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.text_field :location, placeholder: "Location", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.text_area :bio, placeholder: "Tell us about yourself...", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.email_field :email, placeholder: "Email Address", class: "form-control" %>
</div>

<div class="form-group">
  <%= f.password_field :password, placeholder: "Password (8 character minimum)", class: "form-control" %>
</div>

<div class="form-group">
  <strong>Upload a Profile Pic:</strong>
  <%= f.file_field :avatar %>
</div>

<div class="actions">
  <%= f.submit "Sign up" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
