<div class="hashtag-feed">
  Related to <%= @tag.phrase %>
</div>
<br><br>

<div class="row feed-container">
  <!-- a place for current user stats -->
  <div>
    <% @tag.tweets.order(created_at: :desc).each do |tweet| %>
      <p>
        <%= link_to "@#{tweet.user.username}", show_user_path(id: tweet.user.id) %>
        •
        <span class="timestamp"><%= time_ago_in_words(tweet.created_at) %> ago</span>
      </p>
      <p>
        <%= tweet.message.html_safe %>
      </p>
      <hr>
    <% end %>
  </div>
</div>

<div><%= link_to "Back to feed", root_path %></div>
